# Auto detect text files and perform LF normalization
* text=auto
undreamai_windows-cuda-cu12.2.0.dll filter=lfs diff=lfs merge=lfs -text
libundreamai_linux-cuda-cu12.2.0.so filter=lfs diff=lfs merge=lfs -text
